<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<table>
    <colgroup>
        <col span="5" style="background:Khaki"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
        <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
    </colgroup>
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>ФИО</th>
        <th>Номер телефона</th>
        <th>Электронная почта</th>
        <th>Номер паспорта</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1.</td>
        <td>Иванов И.И</td><td>101</td><td>Test@gmail.com</td><td>690069</td>
    </tr>
    <tr>
        <td>2.</td>
        <td>Иванов В.И</td><td>102</td><td>Test1@gmail.com</td><td>700070</td>
    </tr>
    </tbody>
</table>
<p>Get your greeting <a href="/greeting">here</a></p>
</body>
</html>